<app-banniere-titre [titre]="'Accès'"></app-banniere-titre>

<div class="bloc">
    <h1> Tout se passe dans dans le gymnase de l'Ecole CentraleSupelec, <br /> au 3 rue Joliot Curie, 91190 Gif-sur-Yvette.</h1>
    
    <div class="bloc-transport">
        <div class="nom-transport">
            <h2> En voiture :</h2>
        </div>
        
        <div class="explication">
            <p> Le parking de la résidence de l'école sera mis à disposition. Voici un <a href="https://docs.google.com/spreadsheets/d/1PCl5EF1MGKS07Iy-eqb2v01FehzywhVO_SsQfc6cbWQ/edit?usp=sharing"> lien </a> pour organiser un éventuel covoiturage avec les autres participants. </p>
        </div>
    </div>
    
    <div class="bloc-transport">
        <div class="nom-transport">
            <h2> Pour les piétons :</h2>
        </div>
        <div class="explication">
            <p> Compter 20 à 25 minutes de marche depuis la station du RER B: Le guichet. Vous pouvez également descendre à Massy-Palaiseau et prendre le bus 91-06 jusqu'à la station : Joliot Curie. L'entrée se trouve juste en face de l'arrêt de bus. </p>
        </div>
    </div>
    
    <div class="plan">
        <h2> Plan d'accès :</h2>
        <img src="../../assets/images/plan.png" alt="plan_acces"/>
    </div>
    
</div>