<app-event [event]="cvg" > </app-event>

<div class="scroll"></div>

<app-point-fort [inverse]="false" [fond]=" fond " 
                [contenu]="{ titre : 'Un contest de bloc de haut niveau',
                             description : 'Depuis maintenant quelques années, de nombreux membres de l’équipe de France de bloc nous font l’honneur de participer à notre évènement. Parmi eux, on accueille des champions de France, et plusieurs sont même déjà montés sur le podium lors de coupes du monde de bloc.',
                             images : ['../../assets/images/presentationevents/cvg/contest1.jpg',
                              '../../assets/images/presentationevents/cvg/contest2.jpg',
                              '../../assets/images/presentationevents/cvg/contest3.jpg']
                           }" ></app-point-fort>

<app-point-fort [inverse]="true" [fond]=" fond " 
                [contenu]="{ titre : 'Un évènement ouvert vers l’international',
                             description : 'Notre nouvel objectif est maintenant d’internationaliser notre évènement, et cet objectif est en train de prendre forme depuis deux ans déjà, notamment avec des grimpeurs professionnels que nous avons accueillis, venant d’Ukraine, Belgique, et Angleterre.',
                             images : ['../../assets/images/presentationevents/cvg/international1.jpg',
                              '../../assets/images/presentationevents/cvg/international2.jpg',
                              '../../assets/images/presentationevents/cvg/international3.jpg']
                           }" ></app-point-fort>
<app-point-fort [inverse]="false" [fond]=" fond " 
                [contenu]="{ titre : 'Prize money',
                             description : 'Avec un prize money de plus de 1 200 euros pour les finalistes l’année précédente, les vainqueurs gagnent chaque année une multitude de récompenses : vêtements, casquettes, entrées gratuites dans nos salles partenaires, crashpads, ...',
                             images :
                             ['../../assets/images/presentationevents/cvg/prize1.jpg',
                              '../../assets/images/presentationevents/cvg/prize2.jpg',
                              '../../assets/images/presentationevents/cvg/prize3.jpg']
                           }" ></app-point-fort>
<app-point-fort [inverse]="true" [fond]=" fond " 
                [contenu]="{ titre : 'Une compétition spectaculaire',
                             description : 'Envie de voir des professionnels grimper dans une ambiance cool ? N’hésite pas à venir, l’entrée est gratuite pour les spectateurs, et des boissons et des crêpes gratuites sont distribuées toute la journée.',
                             images : ['../../assets/images/presentationevents/cvg/spectacle1.jpg',
                              '../../assets/images/presentationevents/cvg/spectacle2.jpg',
                              '../../assets/images/presentationevents/cvg/spectacle3.jpg']
                           }" ></app-point-fort>