<app-event [event]="ncv" > </app-event>

<app-point-fort [inverse]="false" [fond]=" fond " 
                [contenu]="{ titre : 'Une compétition qui réunit les meilleurs étudiants',
                             description : 'Notre nouveau campus ouvre chaque année ses portes à 150 concurrents venant participer sur des installations flambant neuves. Durant toute l’après-midi, les étudiants tenteront de gagner le plus de points en sortant des blocs et des voies, et ce pour atteindre les prestigieuses finales.',
                             images : ['../../assets/images/presentationevents/ncv/qualifs1.jpg',
                              '../../assets/images/presentationevents/ncv/qualifs2.jpg',
                              '../../assets/images/presentationevents/ncv/qualifs3.jpg']
                           }" ></app-point-fort>

<app-point-fort [inverse]="true" [fond]=" fond " 
                [contenu]="{ titre : 'Des finales spectaculaires sous projecteurs',
                             description : 'Place au spectacle ! Dans la soirée, viennent ensuite les finales de bloc et de voie. C’est à ce moment que plus de 300 spectateurs s’installent pour regarder nos finalistes grimper dans une salle éteinte, avec seulement un projecteur pointé sur les finalistes.',
                             images : ['../../assets/images/presentationevents/ncv/finales1.jpg',
                              '../../assets/images/presentationevents/ncv/finales2.jpg',
                              '../../assets/images/presentationevents/ncv/finales3.jpg']
                           }" ></app-point-fort>
<app-point-fort [inverse]="false" [fond]=" fond " 
                [contenu]="{ titre : 'Grimpeur ou spectateur, pleins d’activités sont là pour toi',
                             description : 'La Nuit Centrale Verticale n’est pas seulement une compétition d’escalade, c’est aussi une ambiance cool, où les spectateurs comme les compétiteurs peuvent profiter de différentes activités mises en place. Slackline, tables de ping-pong, jeux tombolas, concours de jetés, traversées sans les mains, et bien d’autres surprises encore t’attendent, toi et tes amis, pour passer une bonne aprem. Il y aura même la Band’a Joe, la fanfare de notre école, qui répondra présente à l’évènement pour mettre une ambiance de folie, le tout suspendue dans les airs !',
                             images : ['../../assets/images/presentationevents/ncv/actis1.jpg',
                              '../../assets/images/presentationevents/ncv/actis2.jpg',
                              '../../assets/images/presentationevents/ncv/actis3.jpg']
                           }" ></app-point-fort>
<app-point-fort [inverse]="true" [fond]=" fond " 
                [contenu]="{ titre : 'Crêpes et boissons à volonté toute la journée',
                             description : 'Spectateur ayant un petit creux ou compétiteur ayant besoin d’énergie, nos staffeurs ont pensé à toi. Viens profiter de nos crêpes et boissons gratuites durant toute la durée de l’évènement, plus de 4 000 crêpes préparées avec amour t’attendent !',
                             images : ['../../assets/images/presentationevents/ncv/crepes1.jpg',
                              '../../assets/images/presentationevents/ncv/crepes2.jpg',
                              '../../assets/images/presentationevents/ncv/crepes3.jpg']
                           }" ></app-point-fort>