<app-event [event]="vt" > </app-event>

<div class="scroll"></div>

<app-point-fort [inverse]="false" [fond]=" fond " 
                [contenu]="{ titre : 'Une équipe motivée prête à vous accueillir',
                             description : 'Organisant en parallèle nos deux évènements majeurs, la Nuit Centrale Verticale et les Centrale Vertical Games, notre équipe est parée pour vous organiser un après-midi des plus enrichissant pour votre groupe.',
                             images : ['../../assets/images/presentationevents/vt/equipe1.jpg',
                              '../../assets/images/presentationevents/vt/equipe2.jpg',
                              '../../assets/images/presentationevents/vt/equipe3.jpg']
                           }" ></app-point-fort>

<app-point-fort [inverse]="true" [fond]=" fond " 
                [contenu]="{ titre : 'Un après-midi de cohésion et enrichissant pour les entreprises',
                             description : 'Avec les diverses activités originales que nous vous proposons autour de l’escalade, notre évènement permet de renforcer les liens entre les participants. Ce moment est l’occasion parfaite d’accroître l’esprit d’équipe et l’engagement personnel.',
                             images : ['../../assets/images/presentationevents/vt/cohesion1.jpg',
                              '../../assets/images/presentationevents/vt/cohesion2.jpg',
                              '../../assets/images/presentationevents/vt/cohesion3.jpg']
                           }" ></app-point-fort>
<app-point-fort [inverse]="false" [fond]=" fond " 
                [contenu]="{ titre : 'Des échanges avec les étudiants autour d’activités',
                             description : 'En plus de l’aspect team building de l’évènement, Vertical Team est aussi l’occasion unique de se rapprocher des étudiants de l’école CentraleSupélec. Les activités seront l’occasion d’échanger avec les membres de notre équipe, et une rencontre avec des étudiants est aussi réalisable durant l’après-midi.',
                             images :
                             ['../../assets/images/presentationevents/vt/echanges1.jpg',
                              '../../assets/images/presentationevents/vt/echanges2.jpg',
                              '../../assets/images/presentationevents/vt/echanges3.jpg']
                           }" ></app-point-fort>
<app-point-fort [inverse]="true" [fond]=" fond " 
                [contenu]="{ titre : 'Un évènement adaptable à vos besoins',
                             description : 'Soucieux de répondre à vos attentes, nous sommes tout à fait en mesure de nous adapter à vos besoins en termes d’activités, de lieu et de taille de groupe. De plus, nous pouvons vous proposer des cadres différents pour l’évènement, allant de salles indoor jusqu’à des sorties en nature.',
                             images : ['../../assets/images/presentationevents/vt/adaptable1.jpg',
                              '../../assets/images/presentationevents/vt/adaptable2.jpg',
                              '../../assets/images/presentationevents/vt/adaptable3.jpg']
                           }" ></app-point-fort>