<app-banniere-titre [titre]="'Nos Partenaires'"></app-banniere-titre>

<app-partenaire [contenu]="{ nom : 'Oresys',
                             description : 'Oresys est notre sponsor officiel, grâce à eux la Nuit Centrale Verticale est devenue LA soirée d’escalade étudiante que vous aimez ! Oresys est un cabinet de conseil en management et organisation qui compte aujourd’hui 270 collaborateurs en France, Suisse et Belgique, et fait partie du réseau international Cordence Worldwide, constitué de 50 bureaux et 2600 collaborateurs. Oresys embauche chaque année une cinquantaine de jeunes diplômés de Grandes Écoles.',
                             logo : '../../assets/images/partenaires/oresys.png'
                           }" ></app-partenaire>

<app-banniere-titre [titre]="'Nos Sponsors'"></app-banniere-titre>

<app-partenaire [contenu]="{ nom : 'Petzl',
                             description : 'Petzl est une entreprise française qui produit du matériel pour la montagne, la spéléologie et même les travaux en hauteur. Encore sponsor de la NCV cette année, c’est un des leaders dans son domaine, dont la réputation n’est plus à faire !',
                             logo : '../../assets/images/partenaires/petzl.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Au Vieux Campeur',
                             description : 'L’une des plus célèbres chaînes de magasins de sport et de loisir en France, Le Vieux Campeur n’est plus à présenter. Il sponsorise la NCV depuis plusieurs années !',
                             logo : '../../assets/images/partenaires/vc.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Skylotec',
                             description : 'Entreprise familiale indépendante, SKYLOTEC est un leader international dans tous les secteurs dans lesquels la sécurité en hauteur est importante. Elle propose une gamme complète d’équipements de protection antichute : harnais, cordes, mousquetons, descendeurs, appareils de sauvetage ... Cette année, SKYLOTEC nous fait l’honneur d’être notre partenaire pour la Nuit Centrale Verticale.',
                             logo : '../../assets/images/partenaires/skylotec.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Y&Y Vertical',
                             description : 'Assureuse, assureur, l’émancipation est proche ! Si le grimpeur vous casse le c**, il ne vous cassera plus jamais le cou ! Notre nouveau sponsor Y&Y, propose en effet des lunettes avec un système de prisme permettant de renvoyer l’image du grimpeur sans avoir à relever la tête pour plus de confort et plus de sécurité !',
                             logo : '../../assets/images/partenaires/y&y.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'À la Ville À la Montagne',
                             description : 'Nous sommes ravis de compter parmis nos sponsors ce magasin d’équipement de montagne situé au centre de Paris. Si vous passez par Bastille, n’hésitez pas à faire un détour, ça vaut le coup !',
                             logo : '../../assets/images/partenaires/alavillealamontagne.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Dakas',
                             description : 'Dakas, est un vendeur de materiel de Slackline, crée en 2013 par trois frères passionnés de slackline. DAKAS a pour objectif d’offrir du matériel de qualité, pratique et sûr avec un prix attractif, tant pour le novice que pour le slacklineur experimenté ! Dakas est notamment le premier constructeur à avoir des produits aux normes E.P.I.',
                             logo : '../../assets/images/partenaires/dakas.jpg'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Beal',
                             description : 'Beal est le leader mondial en équipement de grimpe, qui fait encore une fois partie de nos sponsors cette année. À vous de découvrir à quoi ils ont pensé pour vous !',
                             logo : '../../assets/images/partenaires/beal.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'La librairie des Alpes',
                             description : 'Cette librairie parisienne spécialement dédiée à la littérature de montagne, offre des milliers de livres depuis 1936. Vous pourrez vous émerveiller devant les récits des premiers alpinistes mais aussi vous couper le souffle en lisant les dernières réalisations des montagnards de notre génération.
Rendez-vous au 6 rue de Seine, 75006 - Paris ! Tel : 01 43 26 90 11 ou 06 60 40 05 84',
                             logo : '../../assets/images/partenaires/llda.jpg'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : '9c+',
                             description : '9C+ c’est la nouvelle boutique d’escalade créée en 2009, à votre disposition au magasin mais aussi en ligne. Elle est d’autant plus tournée vers le grimpeur, son bien-être et son confort vu qu’elle est gérée par Alain, un grimpeur invétéré !',
                             logo : '../../assets/images/partenaires/9c+.jpg'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Monvic',
                             description : 'Monvic est une marque de textile escalade qui a vue le jour en 2007 au Melloblocco. S’appuyant sur la passion pour l’escalade, la philosophie est celle de s’amuser tout en dessinant et coloriant toute forme d’expression sportive. Avec Monvic vous pouvez personnaliser vos vêtements, créer vos t-shirt et sweat-shirt en choisissant leur couleur, la couleur du motif et la position de l’inscription. Tous les vêtements Monvic sont assemblés, dessinés et imprimés en Italie par de petits ateliers artisanaux maitrisant parfaitement leur métier.',
                             logo : '../../assets/images/partenaires/monvic.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Lestra Outdoors',
                             description : 'Voilà presqu’un siècle que LESTRA capitalise l’expérience dans le domaine du couchage OUTDOOR. Primé N°1 Mondial pour les sacs d’expédition, spécialiste unanimement reconnu par les aventuriers et explorateurs des temps modernes, LESTRA met son savoir-faire unique et ses technologies d’avant-garde au service des plus exigeants.',
                             logo : '../../assets/images/partenaires/lestra.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Antworks',
                             description : 'Antworks est une marque lancé par un créateur de poutre et module pour l’entrainement en 2012. A l’origine Christian Miletzky offrait ses créations dans un but non lucratif, après plusieurs dizaines d’années ses poutres ont eu tant de succès qu’il décida de lancer son entreprise. Aujourd’hui Antworks propose des créations originales dont les grimpeurs raffolent.',
                             logo : '../../assets/images/partenaires/antworks.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Boreal',
                             description : 'Boreal est la marque la plus innovante en matière de textile et chaussons pour l’escalade. Ils sont notamment à l’origine du premier chausson à gomme ’collante’, et ont permis à des légendes comme Wolfgang Güllich de passer et d’ouvrir des voies légendaires. Aujourd’hui ils sont encore à la pointe de l’innovation et proposent toujours plus de produits pour les grimpeurs.',
                             logo : '../../assets/images/partenaires/boreal.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Entre-Prises',
                             description : 'L’un des leaders dans la construction des murs d’escalade a installé la magnifique structure sur laquelle vous pourrez grimper à la NCV. Ils nous aident dans notre projet depuis sa création. Nous tenons à les remercier pour les efforts qu’ils font pour nous !',
                             logo : '../../assets/images/partenaires/entreprises.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Hardbloc',
                             description : 'Hardbloc c’est un savant mélange entre ambiance familiale et professinnalisme entretenur par une équipe de passionnés au service des grimpeurs. Avec ses 1150m², Hardbloc est la plus grande salle de bloc indoor de France. Composée de 29 profils bien différents mixant dalle, devers, toit, diédre, bombé, et de 3 zones spécifiques (le tunnel, la grotte et la zone pédagogique). Il y en a pour tous les goûts !',
                             logo : '../../assets/images/partenaires/hardbloc.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Arkose',
                             description : 'Arkose c’est des superbes salles d’escalades partout en France ! Pour nous, c’est aussi un endroit où les bières, les cookies, les gateaux, le strap, les burgers et les blocs sont vraiment excellents !',
                             logo : '../../assets/images/partenaires/arkose.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Block’Out',
                             description : 'Block’Out c’est concept unique : une salle d’escalade/restaurant ! Dans leurs trois salles en Ile de France (Cergy-Pontoise, Paris et d’Evry-Lisses) l’importance du “grimper ensemble” (du débutant jusqu’à l’expert) et la qualité du service au restaurant participent pleinement à faire de l’enseigne un lieu unique de convivialité sportive et gustative !',
                             logo : '../../assets/images/partenaires/blockout.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'BlocBuster',
                             description : 'Ouvert depuis 2012, Blocbuster c’est maintenant deux salles d’escalade, de yoga, de bien être et de bonne ambiance à courbevoie et la défense. Avec 1400m² leur implantation à la défense permet de faire grandir l’escalade en la faisant découvrir au plus grand nombre.',
                             logo : '../../assets/images/partenaires/blocbuster.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Vertical’ Art',
                             description : 'Vertical’ Art, salle d’escalade de bloc, restaurant, bar et espace musculation, vous accueille 7j/7 à Montigny-le-Bretonneux, Nantes, Rouen et Rungis.',
                             logo : '../../assets/images/partenaires/verticalart.jpg'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Journal des Grandes Écoles',
                             description : 'Trimestriel tiré à plus de 20 000 exemplaires sur 200 campus de Grandes Ecoles & Universités, dans les prépas les plus prestigieuses et les 300 premières entreprises françaises, Le Journal des Grandes Ecoles & des Universités est une référence dans le milieu. Il est partenaire de beaucoup de manifestations étudiante, dont la NCV !',
                             logo : '../../assets/images/partenaires/jdgeu.jpg'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Roc & Résine',
                             description : 'Roc & Résine est une salle d’escalade située à Thiais, les profils y sont variés. La salle s’efforce de rendre la pratique identique à la pratique de la l’escalade en falaise, le rendu est donc très agréable à grimper.',
                             logo : '../../assets/images/partenaires/rocetresine.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Kairn',
                             description : 'Kairn.com la référence francophone en matière d’information dans les domaines d’escalade, de l’activité montagne & Outdoor.',
                             logo : '../../assets/images/partenaires/kairn.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Fondation École Centrale Paris',
                             description : 'Cette association rassemble la moitié des Centraliens en activité, soit quasiment 8 000 ingénieurs. Elle permet aux anciens élèves de l’école de se rassembler pour mieux se connaître, s’entraider et se renseigner sur leur vie professionnelle.',
                             logo : '../../assets/images/partenaires/fondation.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'BDE CentraleSupélec',
                             description : 'Le Bureau Des Elèves de l’école CentraleSupélec est là, comme dans toutes les grandes écoles, pour fédérer la vie associative sur la campus et pour faire le lien entre les étudiants et les entreprises. Bon nombre de nos associations, comme la NCV, dépendent du BDE.',
                             logo : '../../assets/images/partenaires/bde.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Hyris',
                             description : 'Hyris Télévision est l’association de CentraleSupélec qui est là pour filmer tous les évènements sur l’école. Les films qu’ils sont capables de monter extrêmement rapidement assurent la visibilité de nos associations.',
                             logo : '../../assets/images/partenaires/hyris.png'
                           }" ></app-partenaire>

<div class="separateur" ></div>

<app-partenaire [contenu]="{ nom : 'Pics',
                             description : 'Pics est une autre de nos associations étudiantes. Elle assure également la couverture médiatique des évènements de CentraleSupélec mais avec des photos ! Ce sont leurs clichés que vous pouvez admirer sur ce site.',
                             logo : '../../assets/images/partenaires/pics.png'
                           }" ></app-partenaire>