<app-banniere-titre [titre]="'News'"></app-banniere-titre>

<div class="bouton-rectangle">
    <a href="https://nuitcentraleverticale.wordpress.com" onclick="window.open(this.href); return false;"> Lire notre newsletter</a>
</div>

<app-post [contenu]="{ titre : 'Retour sur la 9ème édition de la Nuit Centrale Verticale, et la 4ème des Centrale Vertical Games !',
                             description : 'Ça y’est la 9ème édition c’est fini, on espère que vous l’avez apprécié autant que nous ! On remercie encore tous les participants ainsi que les spectateurs qui ont fait vibrer ce week-end ! Un grand merci à nos sponsors et partenaires sans qui cet évènement n’aurait pas pu avoir lieu. La 10ème édition arrive bientôt (le 24 et 25 Novembre sur le campus de CentraleSupélec à Gif-sur-Yvette), mais si vous voulez des photos des éditions précédentes, elles sont disponibles sur la page Éditions pérécdente - Galerie (on remercie Pics pour ces photos de qualité). La vidéo de la 9ème édition de la NCV et de la 4ème édition des CVG, concoctées par Hyris, sont disponibles ci-dessous ! En tout cas nous vous attendons nombreux cette année, toute l’équipe est déterminée à vous faire vivre un week-end spectaculaire !',
                            date : '2/10/2018',
                             image : '../../assets/images/news/logo_ncv_9.jpg',
                             videos : ['../../assets/videos/news/ncv9.mp4','../../assets/videos/news/cvg9.mp4']
                           }"></app-post>

<app-post [contenu]="{ titre : 'Les structures de bloc sont enfin là !',
                             description : 'Cette année, parce que nous vivons beaucoup de choses nouvelles dans l’association, que le déménagement et la fusion de l’école nous ont bien occupés, que la compétition a été bien retardée, nous avons décidé de tenir une petite newsletter pour vous tenir informés de nos actualités. Retrouvez sur notre site (tout bien réparé pour l’occasion !), toutes les semaines, une petite note sur notre actualité, et vivez avec nous nos bonnes nouvelles, nos moments forts, comme nos coups durs, le tout imagé, pour que tous ceux qui ne connaissent pas le campus aient un avant goût de ce qui se prépare ici dans l’ombre. En espérant que celà vous tienne en haleine jusqu’au jour J !',
                            date : '12/12/2017',
                             image : '../../assets/images/news/structures.jpg',
                             videos : []
                           }"></app-post>

<app-post [contenu]="{ titre : 'À bientôt pour la 9ème édition de la Nuit Centrale Verticale, et la 4eme des Centrale Vertical Games !',
                             description : 'Ça y est c’est officiel : la 9ème édition de la NCV et la 4ème édition des CVG auront bien lieu, les 10 et 11 février 2018 ! N’hésitez plus à venir, ça va être génial : En plus des animations et de l’open crêpes, vous pourrez inaugurer notre toute nouvelle structure de bloc ! ',
                            date : '17/11/2017',
                             image : '../../assets/images/news/lineaire.jpg',
                             videos : []
                           }"></app-post>

<app-post [contenu]="{ titre : 'Retour sur la 8ème édition de la Nuit Centrale Verticale, et la 3ème des Centrale Vertical Games !',
                             description : 'On espère que vous avez apprecié la 8ème edition autant que nous ! Merci aux 255 participants (dont l’équipe de France ), aux 300 spectateurs, au staff et à tout nos sponsors et partenaires pour ce fabuleux week end ! Les classements des Centrale Vertical Games et de la Nuit Centrale Verticale sont sur les pages Éditions précédentes. Vous y trouverez également une sélection de photos des deux événements ! On espère vous revoir nombreux l’année prochaine à CentraleSupélec : La nouvelle équipe est super motivée pour vous offrir encore plus de spectacle ! Nous remercions encore une fois toute l’équipe de Cnum et de NX télévision pour leur couverture de l’événement ! Et pour le plaisir on vous met la vidéo retour de ce week-end fantastique ! ',
                            date : '23/11/2016',
                             image : '../../assets/images/news/logo_ncv_8.jpg',
                             videos : ['../../assets/videos/news/ncv8.mp4']
                           }"></app-post>
