<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"> <!-- icones -->

<div class="bloc-icones">
    <ul class="menu">
        <li><a href="https://www.facebook.com/ncv.nuitcentraleverticale/" onclick="window.open(this.href); return false;"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/ncvofficiel/" onclick="window.open(this.href); return false;"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/company/nuit-centrale-verticale/" onclick="window.open(this.href); return false;"><i class="fa fa-linkedin"></i></a></li>
    </ul>
</div>