<table>
  <thead>
    <tr>
      <th width="100">Rang</th>
      <th>Nom</th>
      <th width="150">Résultats</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Jeremy BONDER</td>
      <td>3T 1Z 5 1</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Manu CORNU</td>
      <td>3T 1Z 8 2</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Alban LEVIER</td>
      <td>2T 1Z 4 1</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Prénom NOM</td>
      <td>aT bZ c d</td>
    </tr>
      <tr>
      <td>5</td>
      <td>Prénom NOM</td>
      <td>aT bZ c d</td>
    </tr>
      <tr>
      <td>6</td>
      <td>Prénom NOM</td>
      <td>aT bZ c d</td>
    </tr>
      <tr>
      <td>7</td>
      <td>Prénom NOM</td>
      <td>aT bZ c d</td>
    </tr>
  </tbody>
</table>