$couleur_fond: rgb(250,250,250);
$bleu_header: rgb(39,45,57); // #2C3840;
$bleu_footer: #223;

$blanc: #fefefe;
$noir: #0a0a0a;

$gris_fonce: rgb(65,64,66);
$gris: rgb(120,120,120);
$gris_clair: #bcbcbc;

$bleu:rgb(27,117,188);
$bleu_clair:rgb(120,207,248);
$bleu_fonce:rgb(17,77,118);

$couleur_ncv_1:rgb(38,34,98);
$couleur_ncv_2:rgb(193,61,123);

$couleur_cvg_1:rgb(20,20,20);
$couleur_cvg_2:rgb(201,2,69);

$couleur_vt_1:rgb(38,28,92);
$couleur_vt_2:rgb(0,209,158);

